* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}

.outer-container {
    width: 800px;
    margin: auto;
}
.employee__bio{
    display: flex;
    flex-direction: column;
}
.employee, .customer__employeelist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee__name {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.employee__department,
.employee__location, 
.employee__computer {
    margin: 5px;
    
}

ul {
    list-style: none;
    
}

li {
    padding: 10px 0px 0px 20px;
}

.employee__customers {
    margin: 5px;
    
}

.customer__employeelist {
    margin: 25px;
}

h3 {
    margin-top: 15px;
}